#!/usr/bin/env bash

echo "Updating /etc/hosts
echo "${IDS_HOST_ENV} universal-identity-service" >> /etc/hosts
echo "${MR_ANDERSON_HOST_ENV} mr-anderson" >> /etc/hosts
echo "${ARGONAUT_HOST_ENV} jargonaut" >> /etc/hosts

cat /etc/hosts